<div>
  <div class="donate-us">
    <label>Donate us</label>
    <div class="price_slider ui-slider ui-slider-horizontal">
      <div id="slider-margin" class="noUi-target noUi-ltr noUi-horizontal">
        <div class="noUi-base"><div class="noUi-connects">
          <div class="noUi-connect" style="transform: translate(0%, 0px) scale(0.54, 1);"></div>
        </div>
          <div class="noUi-origin" style="transform: translate(-46%, 0px); z-index: 4;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="54.0" aria-valuetext="$ 540">
            <div class="noUi-tooltip">$ 540</div>
          </div>
          </div>
        </div>
      </div>
      <span class="donate-value" id="value-lower"></span>
    </div>
  </div>

</div>
