<div class="label-flex">
  <label>Payment mode</label>
</div>
<!--<div class="form-radio-group">
  <div class="form-radio-item">
    <input type="radio" name="payment" id="cash" checked="">
    <label for="cash">Cash</label>
    <span class="check"></span>
  </div>
  <div class="form-radio-item">
    <input type="radio" name="payment" id="cheque">
    <label for="cheque">Cheque</label>
    <span class="check"></span>
  </div>
</div>-->
<div class="form-radio-group1">
  <div class="form-radio-item1" *ngFor="let mode of paymentMode">
    <input class="input-type-radio1" type="radio" name="payment" [id]="mode.name">
    <label [for]="mode.name" class="label-radio">{{mode.name}}</label>


  </div>

  <!--  <span *ngFor="let mode of paymentMode" (click)="funcConLog($event)">
    <input type="radio" name="paymentMode" value="{{mode.name}}">
    <label>{{mode.name}}</label>
  </span>-->
</div>


